html {
  scroll-behavior: smooth;
}

body{
  width: 90%;
}

header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 10px;
}

header .btn{
  background-color: transparent;
  color: #000;
  border: none;
  width: 20%;
  margin: 0 -0.2em;
}

header .btn:hover {
  background-color: transparent;
  border: none;
}

header .custom-offcanvas-width{
  background-color: whitesmoke;
  width: 10px;
  height: 28vh;
  margin: 2.1em 0;
}

header .offcanvas-header h5{
  font-size: 1.8em;
   font-weight: bold;
}

header .offcanvas-body ul{
  list-style: none;
}

header .offcanvas-body ul li a{
  text-decoration: none;
  font-size: 1.1em;
}

header .small{
  width: 60%;
  margin-top: 1em;
  margin-left: 4em;
  white-space: nowrap;
}

header .small small{
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

header .search{
  width: 20%;
  margin-left: 5em;
}

.slidein{
  animation: slide 0.8s ease;
}

.slideout{
  animation: slideout 0.8s ease;
}

@keyframes slide{
  from{
    margin-left: 9em;
  }
  to{
    margin-left: 0.2em;
  }
}

@keyframes slideout{
  from{
    margin-left: 8em;
  }
  to{
    margin-left: 9em;
  }
}

header button{
  background-color: transparent;
  border: none;
  font-size: 1.3em;
}

body .input{
  width: 42%;
  outline: none;
  border: none;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: -2em;
  margin-left: 13.4em;
}


main{
  width: 100%;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

main .main-page{
  display: flex;
  flex-direction: row;
 /* align-items: flex-start;*/
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 130vh;
}

main .note{
  background-color: #4C518B;
  width: 47%;
  text-align: center;
  padding: 9px;
  border-radius: 6px;
  overflow: hidden;
}

main .note .header h2{
  color: #000;
  margin: 10px 0;
}

main .note p{
  color: #ccc;
}

main .add-icon{
  align-self: normal;
  width: 50%;
  position: fixed;
  top: 40em;
  left: 9.4em;
}

main .add-icon button{
  background-color: #C12E1F;
  width: 35%;
  height: 35%;
  padding: 10px;
  font-size: 1.8em;
  color: #fff;
  border: none;
  border-radius: 50%;
}


/* Edit */
main .edit{
  width: 100%;
  height: 90vh;
}

main .custom-width{
  width: 10px;
  height: 25vh;
  margin: 2.1em 0;
}

main .edit ul{
  list-style: none;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: 113%;
  margin: 0 -2.5em;
}

main .edit ul .arrow-left{
  background-color: transparent;
  border: none;
  font-size: 1.6em;
}

main .edit ul .small{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-left: 30px;
}

main .edit ul .btn{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
}

main .edit ul li #save{
  background-color: transparent;
  display: none;
  border: none;
  font-size: 1.5em;
  margin-top: 6px;
  margin-left: 1em;
  position: fixed;
  width: 10%;
}

main .edit ol{
  list-style: none;
}

main .edit .offcanvas-body ol a{
  text-decoration: none;
  font-size: 1.1em;
  font-family: sans-serif;
  margin: 16px 0;
}

main .edit .edit-note{
  margin-top: 1em;
  margin-left: 2em;
}

main .edit .edit-note .title{
  margin-bottom: 0.5em;
}

main .edit .edit-note .title input{
  background-color: transparent;
  text-align: center;
  width: 85%;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

main .edit .edit-note textarea{
  background-color: transparent;
  width: 113%;
  height: 70vh;
  text-align: center;
  font-size: 1.1em;
  border: none;
  resize: none;
  margin: 0 -2.4em;
  outline: none;
}

.hide {
  display: none;
}
